/* PÃGINAS DE PRODUCTOS */

main {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    column-gap: 1rem;
    margin-top: 1.5rem;
}

input {accent-color: rgba(204, 51, 0, 0.8);}

aside {
    background-color: whitesmoke;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    height: fit-content;
}

aside * {
    font-size: 2rem;
}

aside > fieldset > ul > li {
    list-style: none;
}

#productos {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: row;
    flex-wrap: wrap;
}

.prodRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: inherit;
    /* PARA CONTROLAR EL ESPACIADO ENTRE FILAS */
    height: fit-content;
}

.prodIndi {
    margin: 1rem 0 0 1rem;
    width: auto;
    height: fit-content;
    align-self: auto;
}

.prodIndi > p {
    width: inherit;
    text-align: center;
    font-size: 1.5rem;
}

img {
    border: 0.2rem solid black;
    height: auto;
    width: 250px;
}