@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

:root {
    font-size: 62.5%;
    background-color: rgba(204, 51, 0, 0.8);
    font-family: 'Playfair Display', serif;
}

body { margin-left: 0; margin-right: 0;}

#cabecera {
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#barra {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
}

#barra > li {
    font-size: 2rem;
    margin: 2rem 1rem;
}

#barra > li:hover {
    transform: scale(1.05);
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s linear;
}

a { 
    text-decoration: none;
    color: inherit;
}

#titulo { font-size: 3rem;}

#promo {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#pedido {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cita { font-size: 4rem; }

/* BOTÓN */

#btn {
    border: 0.5rem solid rgba(0, 0, 0, 1);
    background-color: whitesmoke;
    margin-top: 1rem;
    border-radius: 50%;
    padding: 1rem;
    font-size: 3rem;
}

#btn:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}